*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-column: auto;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    padding: 10px;
    grid-auto-flow: column;
}
#card{
    border: 2px black solid;
    background-size: cover;
    /* background-repeat: no-repeat; */
    width: 200px;
    height: 50%;
}
#cardcontent{
    background-size: cover;
}
#cardcontent h1{
    text-align: center;
}
#cardcontent p{
    text-align: center;
    margin: 10px;
    margin-top: 30%;
}